# Data processing - Qredo transactions

#### Maria Silva, June 2023

In [1]:
import os
import datetime
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

## QL2 transactions

### Read raw data

In [2]:
file1 = os.path.realpath("../data/billable_ql2_first_million_2023-05-25T15_02_18.15685Z.csv")
file2 = os.path.realpath("../data/billable_ql2_second_million_2023-05-25T15_02_24.562051Z.csv")

raw_qrdo_df = pd.concat([pd.read_csv(file1), pd.read_csv(file2)])
raw_qrdo_df["created_at"] = pd.to_datetime(raw_qrdo_df["to_timestamp"], utc=True)
raw_qrdo_df["day"] = pd.to_datetime(raw_qrdo_df["created_at"].dt.date)

raw_qrdo_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1163376 entries, 0 to 163375
Data columns (total 18 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   seq_index          1163376 non-null  int64
 1   tx_id              1163376 non-null  object
 2   billable_type_s    4608 non-null     object
 3   billable_status_s  4608 non-null     object
 4   tx_type            1163376 non-null  object
 5   chain_tx_id        1163376 non-null  object
 6   wallet_id          1163376 non-null  object
 7   fund_id            1163376 non-null  object
 8   asset              1163376 non-null  object
 9   asset_scale        1163376 non-null  int64
 10  amount             1163376 non-null  int64
 11  fees               1163376 non-null  int64
 12  net_amount         1163376 non-null  int64
 13  benefit_of         1053006 non-null  object
 14  to_timestamp       1163376 non-null  object
 15  source_tx          4608 non-null     object
 16  created_at         1163376 non-null  datetime64[ns, UTC]
 17  day                1163376 non-null  datetime64[ns]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), int64(5), object(11)
memory usage: 168.6+ MB

In [3]:
len(raw_qrdo_df[raw_qrdo_df["amount"] <0])

8

In [4]:
raw_qrdo_df.groupby("benefit_of")["tx_id"].nunique().sort_values(ascending=False)

benefit_of
Staking event           370770
Vesting event           155441
QredoStation              1236
PowerSwap                  272
1                          170
                         ...
L                            1
Ledger                       1
MGL UK                       1
MKG Enterprises Corp         1
you                          1
Name: tx_id, Length: 312, dtype: int64

### Clean raw data

Some notes here:

* Some transferIn + transferOut  relate to staking and vesting events, which are filtered using the "benefit_of" field. We will give these transactions their own transaction type
* The other transferIn + transferOut are layer 2 transactions. For each transferIn, there is an equivalent transferOut. We will consider the transferOut only and rename these transactions as QL2.
* swapIn and swapOut will be excluded (there is only 4 of these transactions)

In [5]:
filter_df = raw_qrdo_df[raw_qrdo_df["amount"]>0].copy()

staking_df = filter_df[(filter_df["benefit_of"] == "Staking event") & (filter_df["tx_type"] == "transferIn")].copy()
staking_df["tx_type"] = "staking"

# Need to double check this!!!
vesting_df = filter_df[filter_df["benefit_of"] == "Vesting event"].copy()
vesting_df["tx_type"] = np.where(vesting_df["tx_type"]=="transferIn", "vestingIn", "vestingOut")

ql2_internal_df = filter_df[(~filter_df["benefit_of"].isin(["Staking event", "Vesting event"])) & (filter_df["tx_type"] == "transferOut")].copy()
ql2_internal_df["tx_type"] = "ql2_internal"

others_df = filter_df[filter_df["tx_type"].isin(["deposit", "withdraw"])].copy()

In [6]:
ql2_df = pd.concat([staking_df, ql2_internal_df, vesting_df, others_df], ignore_index=True)

ql2_df["tx_group"] = np.where(ql2_df["asset"]=="QRDO", "ql2_QRDO", "ql2_others")
ql2_df["token"] = ql2_df["asset"]

ql2_df = ql2_df.sort_values("to_timestamp").reset_index(drop=True)
ql2_df = ql2_df[["created_at", "day","tx_group", "tx_type", "fund_id", "wallet_id", "token"]].copy()

ql2_df.head()

,created_at,day,tx_group,tx_type,fund_id,wallet_id,token
0,2020-09-01 16:51:08+00:00,2020-09-01,ql2_others,deposit,1guxjFdsfO91UwSpbKFFA5x8vDq,9WTr4Sycv3rP1QE3ekhHi7WBN1PQzHoP8wWsoXFnS7Fo,BTC-TESTNET
1,2020-09-01 16:51:10+00:00,2020-09-01,ql2_others,ql2_internal,1guxjFdsfO91UwSpbKFFA5x8vDq,9WTr4Sycv3rP1QE3ekhHi7WBN1PQzHoP8wWsoXFnS7Fo,BTC-TESTNET
2,2020-09-01 16:51:16+00:00,2020-09-01,ql2_others,withdraw,1guxjFrVzNsBzGapFqhpN2pjAX4,H6SkJMRh3paLXezaDRMKZaKWhYrgYLeHf1eWuKAByMMT,BTC-TESTNET
3,2020-09-01 18:33:02+00:00,2020-09-01,ql2_others,ql2_internal,1gv9UES92rUjT8DT1MO1mX7WVuK,4SApMHPxM4c489y4xNK4S9vyVWgqfDGbVXy5g9qwufuz,BTC-TESTNET
4,2020-09-01 18:33:05+00:00,2020-09-01,ql2_others,deposit,1gv9UES92rUjT8DT1MO1mX7WVuK,4SApMHPxM4c489y4xNK4S9vyVWgqfDGbVXy5g9qwufuz,BTC-TESTNET

### Compute counts

In [7]:
agg_ql2_df = ql2_df.groupby(["day","tx_group", "tx_type"]).size().reset_index()
agg_ql2_df.columns = ['day', 'tx_group', 'tx_type', 'tx_count']
agg_ql2_df.head()

         day    tx_group       tx_type  tx_count
0 2020-09-01  ql2_others       deposit         3
1 2020-09-01  ql2_others  ql2_internal         3
2 2020-09-01  ql2_others      withdraw         3
3 2020-09-02  ql2_others       deposit         3
4 2020-09-02  ql2_others  ql2_internal         8

## MMI transactions

### Read raw data

In [8]:
file = os.path.realpath("../data/billable_events_mmi_2023-05-26T10_38_15.183589Z.csv")

raw_mmi_df = pd.read_csv(file) 
raw_mmi_df["created_at"] = pd.to_datetime(raw_mmi_df["timestamp"], unit="s", utc=True)
raw_mmi_df["day"] = pd.to_datetime(raw_mmi_df["created_at"].dt.date)
raw_mmi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105028 entries, 0 to 105027
Data columns (total 40 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   tx_id                105028 non-null  object
 1   source_tx            60275 non-null   object
 2   billable_type_s      60275 non-null   object
 3   billable_status_s    60275 non-null   object
 4   chain_name           94103 non-null   object
 5   tx_type              69449 non-null   object
 6   tx_id.1              105028 non-null  object
 7   wallet_id            105028 non-null  object
 8   fund_id              105028 non-null  object
 9   chain_id             104925 non-null  float64
 10  tx_hash              105027 non-null  object
 11  timestamp            105028 non-null  int64
 12  external_status      105028 non-null  object
 13  external_type        105028 non-null  object
 14  source_tx.1          60275 non-null   object
 15  billable_type_s.1    60275 non-null   object
 16  billable_status_s.1  60275 non-null   object
 17  id                   94103 non-null   float64
 18  chain_name.1         94103 non-null   object
 19  chain_id.1           94103 non-null   float64
 20  is_testnet           94103 non-null   object
 21  db_schema_name       94103 non-null   object
 22  label                94103 non-null   object
 23  category_label       94103 non-null   object
 24  logo_url             94103 non-null   object
 25  black_logo_url       94103 non-null   object
 26  white_logo_url       94103 non-null   object
 27  is_appchain          94103 non-null   object
 28  appchain_of          0 non-null       float64
 29  updated_at           0 non-null       float64
 30  wallet_id.1          69449 non-null   object
 31  wallet_address       69449 non-null   object
 32  account_id           69449 non-null   object
 33  fund_id.1            69449 non-null   object
 34  chain_transactions   69449 non-null   object
 35  tx_hash.1            69449 non-null   object
 36  tx_type.1            69449 non-null   object
 37  transactions_usd     69449 non-null   float64
 38  created_at           105028 non-null  datetime64[ns, UTC]
 39  day                  105028 non-null  datetime64[ns]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(6), int64(1), object(31)
memory usage: 32.1+ MB

In [9]:
raw_mmi_df.head(1).T

                                                                     0
tx_id                                      2QJaB5hAfNixaEPhDS3wAR27ukp
source_tx                                                          NaN
billable_type_s                                                    NaN
billable_status_s                                                  NaN
chain_name                                                         NaN
tx_type                                                           send
tx_id.1                                    2QJaB5hAfNixaEPhDS3wAR27ukp
wallet_id                 4458gw1TBZqEpwP9xPy73QXxW3ZGpqDsbWCG7yJBWYBg
fund_id                                    29w0cQGk5MSVHyy7lFivL1dF4g1
chain_id                                                          10.0
tx_hash              0x902a2db684abe952b72a3b71b7575bffb902d353b769...
timestamp                                                   1685073999
external_status                                              confirmed
external_type                                                       tx
source_tx.1                                                        NaN
billable_type_s.1                                                  NaN
billable_status_s.1                                                NaN
id                                                                 NaN
chain_name.1                                                       NaN
chain_id.1                                                         NaN
is_testnet                                                         NaN
db_schema_name                                                     NaN
label                                                              NaN
category_label                                                     NaN
logo_url                                                           NaN
black_logo_url                                                     NaN
white_logo_url                                                     NaN
is_appchain                                                        NaN
appchain_of                                                        NaN
updated_at                                                         NaN
wallet_id.1               4458gw1TBZqEpwP9xPy73QXxW3ZGpqDsbWCG7yJBWYBg
wallet_address              0xED8886F9B87F06bF7AB1a4897881bd83eCF1f52E
account_id                                 28J6KsjgLRMP4skYayrESEfTctZ
fund_id.1                                  29w0cQGk5MSVHyy7lFivL1dF4g1
chain_transactions          0x7f5c764cbc14f9669b88837ca1490cca17c31607
tx_hash.1            0x902a2db684abe952b72a3b71b7575bffb902d353b769...
tx_type.1                                                         send
transactions_usd                                          99006.340999
created_at                                   2023-05-26 04:06:39+00:00
day                                                2023-05-26 00:00:00

In [10]:
raw_mmi_df.groupby("tx_type").size().sort_values(ascending=False).head(20)

tx_type
send                        12445
deposit                      5285
empty                        4129
swap                         3241
swapExactTokensForTokens     3228
withdraw                     2936
multicall                    2146
repay                        2138
addLiquidity                 1728
mint                         1643
receive                      1505
execute                      1225
anySwapOutUnderlying         1180
simpleSwap                    874
borrow                        851
swapExactTokensForETH         842
addLiquidityETH               703
add_liquidity                 660
swapExactETHForTokens         638
outboundTransferTo            638
dtype: int64

### Clean raw data

In [11]:
mmi_df = raw_mmi_df.sort_values("created_at").reset_index(drop=True).copy()
mmi_df["tx_group"] = "mmi"
mmi_df["token"] = np.nan
mmi_df = mmi_df[["created_at", "day","tx_group", "tx_type", "fund_id", "wallet_id", "token"]].copy()

mmi_df.head()

,created_at,day,tx_group,tx_type,fund_id,wallet_id,token
0,2021-10-04 11:46:05+00:00,2021-10-04,mmi,NaN,1z2YMd3fbZtA3ydq5qkUAjpxQWv,Ekc3mg3D6VVQaywfDzZCLAv5iQhX73bSQMoE9MjKPUyd,NaN
1,2021-10-04 12:33:18+00:00,2021-10-04,mmi,NaN,1z2YMd3fbZtA3ydq5qkUAjpxQWv,Ekc3mg3D6VVQaywfDzZCLAv5iQhX73bSQMoE9MjKPUyd,NaN
2,2021-10-06 10:05:04+00:00,2021-10-06,mmi,NaN,1z2YMd3fbZtA3ydq5qkUAjpxQWv,Ekc3mg3D6VVQaywfDzZCLAv5iQhX73bSQMoE9MjKPUyd,NaN
3,2021-10-08 09:39:23+00:00,2021-10-08,mmi,NaN,1z89IOaPmuZeZJTyq1iPmhFV6gC,BpJgXJTkWv4ruLJaSxZChZmje3BiKwpy8jeVJxKMsbbh,NaN
4,2021-10-08 09:42:10+00:00,2021-10-08,mmi,NaN,1z89IOaPmuZeZJTyq1iPmhFV6gC,BpJgXJTkWv4ruLJaSxZChZmje3BiKwpy8jeVJxKMsbbh,NaN

### Compute counts

In [12]:
agg_mmi_df = mmi_df.groupby(["day","tx_group"]).size().reset_index()
agg_mmi_df.columns = ['day', 'tx_group','tx_count']
agg_mmi_df["tx_type"] = "mmi"
agg_mmi_df.head()

         day tx_group  tx_count tx_type
0 2021-10-04      mmi         2     mmi
1 2021-10-06      mmi         1     mmi
2 2021-10-08      mmi         9     mmi
3 2021-10-11      mmi         1     mmi
4 2021-10-13      mmi         3     mmi

## Internal transactions

### Read raw data

In [13]:
file = os.path.realpath("../data/covalent_parsed_transaction_data_2023-05-30T08_34_45.138349Z.csv")

raw_int_df = pd.read_csv(file) 
#raw_mmi_df["created_at"] = pd.to_datetime(raw_mmi_df["timestamp"], unit="s", utc=True)
#raw_mmi_df["day"] = pd.to_datetime(raw_mmi_df["created_at"].dt.date)
raw_int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   chain_name          592 non-null    object
 1   value               592 non-null    object
 2   tx_hash             592 non-null    object
 3   fees_paid           592 non-null    int64
 4   gas_price           592 non-null    int64
 5   gas_quote           545 non-null    float64
 6   gas_spent           592 non-null    int64
 7   tx_offset           592 non-null    int64
 8   sucessful           0 non-null      float64
 9   to_address          592 non-null    object
 10  gas_offered         592 non-null    int64
 11  value_quote         545 non-null    float64
 12  block_height        592 non-null    int64
 13  from_address        592 non-null    object
 14  gas_quote_rate      545 non-null    float64
 15  block_signed_at     592 non-null    object
 16  pretty_gas_quote    545 non-null    object
 17  to_address_label    66 non-null     object
 18  from_address_label  7 non-null      object
 19  pretty_value_quote  545 non-null    object
 20  log_events          592 non-null    object
dtypes: float64(4), int64(6), object(11)
memory usage: 97.2+ KB

### Clean raw data

### Compute counts

## Join all data

In [14]:
tx_df = pd.concat([ql2_df, mmi_df], ignore_index=True)
tx_df = tx_df.sort_values("created_at").reset_index(drop=True)

file = os.path.realpath("../data/clean_tx.csv")
tx_df.to_csv(file, index=False)

tx_df.head()

,created_at,day,tx_group,tx_type,fund_id,wallet_id,token
0,2020-09-01 16:51:08+00:00,2020-09-01,ql2_others,deposit,1guxjFdsfO91UwSpbKFFA5x8vDq,9WTr4Sycv3rP1QE3ekhHi7WBN1PQzHoP8wWsoXFnS7Fo,BTC-TESTNET
1,2020-09-01 16:51:10+00:00,2020-09-01,ql2_others,ql2_internal,1guxjFdsfO91UwSpbKFFA5x8vDq,9WTr4Sycv3rP1QE3ekhHi7WBN1PQzHoP8wWsoXFnS7Fo,BTC-TESTNET
2,2020-09-01 16:51:16+00:00,2020-09-01,ql2_others,withdraw,1guxjFrVzNsBzGapFqhpN2pjAX4,H6SkJMRh3paLXezaDRMKZaKWhYrgYLeHf1eWuKAByMMT,BTC-TESTNET
3,2020-09-01 18:33:02+00:00,2020-09-01,ql2_others,ql2_internal,1gv9UES92rUjT8DT1MO1mX7WVuK,4SApMHPxM4c489y4xNK4S9vyVWgqfDGbVXy5g9qwufuz,BTC-TESTNET
4,2020-09-01 18:33:05+00:00,2020-09-01,ql2_others,deposit,1gv9UES92rUjT8DT1MO1mX7WVuK,4SApMHPxM4c489y4xNK4S9vyVWgqfDGbVXy5g9qwufuz,BTC-TESTNET

In [15]:
agg_df = pd.concat([agg_ql2_df, agg_mmi_df], ignore_index=True)
agg_df = agg_df.sort_values("day").reset_index(drop=True)

file = os.path.realpath("../data/agg_tx.csv")
agg_df.to_csv(file, index=False)

agg_df.head()

         day    tx_group       tx_type  tx_count
0 2020-09-01  ql2_others       deposit         3
1 2020-09-01  ql2_others  ql2_internal         3
2 2020-09-01  ql2_others      withdraw         3
3 2020-09-02  ql2_others       deposit         3
4 2020-09-02  ql2_others  ql2_internal         8

In [16]:
agg_df.groupby("tx_type")["tx_count"].sum().sort_values(ascending=False)

tx_type
staking         367086
vestingOut      155442
vestingIn       153899
mmi             105028
withdraw         34994
ql2_internal     31576
deposit          15527
Name: tx_count, dtype: int64